<div class="container">
<h1><%= @product.name %></h1>
<hr>
<h2>Description: <%= @product.description %></h2>
<hr>
<br>
<h3>Price: $<%= @product.price %></h3>



<% if current_user && current_user.admin %>
  <h4>Remove Product</h4>
  <%= link_to "Delete", product_path(@product),
  :data => {:confirm => "You sure?",
    :method => "delete"}, :class => "btn red " %>

    <h4>Edit this product</h4>
    <%= link_to "Edit", edit_product_path(@product) %>
<%end %>

  <hr>
  <div class="container">

  <h3>Reviews:</h3>
    <ul>
      <% @product.reviews.each do |review| %>
        <li> <%= review.content %> </li>
        <% if current_user && current_user.admin %>
      <%= link_to 'Delete review', product_review_path(@product,review), :method =>'delete', :data => {:confirm => 'You sure?'} %>
    <% end %>
  <% end %>
    </ul>
  </div>

<hr>
<% if current_user %>

<h2>Add A Review</h2>
<%= link_to "Add a Review", new_product_review_path(@product, @review) %>

<% end %>


</div>
